# $ conda create --name <env> --file <this file>
# This file may be used to create an environment using:
# platform: osx-64
Automat==20.2.0
Babel==2.11.0
Bottleneck==1.3.5
DeepXDE==1.9.2
Flask==2.2.2
HeapDict==1.0.1
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
Pillow==9.4.0
Protego==0.1.16
PyDispatcher==2.0.5
PyJWT==2.4.0
PyQt5-sip==12.11.0
PySocks==1.7.1
PyWavelets==1.4.1
PyYAML==6.0
Pygments==2.15.1
QDarkStyle==3.0.2
QtAwesome==1.2.2
QtPy==2.2.0
Rtree==1.0.1
SQLAlchemy==1.4.39
Scrapy==2.8.0
Send2Trash==1.8.0
Sphinx==5.0.2
TBB==0.2
Twisted==22.10.0
Unidecode==1.2.0
Werkzeug==2.2.3
abseil-cpp=20210324.2=he49afe7_0
absl-py=1.0.0=pyhd8ed1ab_0
absl-py==2.0.0
aiobotocore==2.5.0
aiofiles==22.1.0
aiohttp=3.8.1=py39h63b48b0_1
aiohttp==3.8.3
aioitertools==0.7.1
aiosignal=1.2.0=pyhd8ed1ab_0
aiosignal==1.2.0
aiosqlite==0.18.0
alabaster==0.7.12
anaconda-client==1.12.0
anaconda-navigator==2.4.2
anyio==3.5.0
appdirs==1.4.4
applaunchservices==0.3.0
appnope==0.1.2
appscript==1.1.2
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
astor=0.8.1=pyh9f0ad1d_0
astroid==2.14.2
astropy==5.1
asttokens==2.0.5
astunparse=1.6.3=pyhd8ed1ab_0
astunparse==1.6.3
async-timeout=4.0.2=pyhd8ed1ab_0
async-timeout==4.0.2
atomicwrites==1.4.0
attrs=21.4.0=pyhd8ed1ab_0
attrs==22.1.0
autopep8==1.6.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==0.0
blas=1.0=mkl
bleach==4.1.0
blinker=1.4=py_1
bokeh==3.2.1
boltons==23.0.0
botocore==1.29.76
bottleneck=1.3.4=py39h67323c0_0
brotli-bin=1.0.9=h5eb16cf_7
brotli=1.0.9=h5eb16cf_7
brotlipy=0.7.0=py39h63b48b0_1004
brotlipy==0.7.0
bzip2=1.0.8=h1de35cc_0
c-ares=1.18.1=h0d85af4_0
ca-certificates=2022.6.15=h033912b_0
cachetools=4.2.4=pyhd8ed1ab_0
cachetools==5.3.2
certifi=2022.6.15=py39h6e9494a_0
certifi==2023.7.22
cffi=1.14.6=py39hb71fe58_0
cffi==1.15.1
chardet==4.0.0
charset-normalizer=2.0.12=pyhd8ed1ab_0
charset-normalizer==2.0.4
click=8.1.3=py39h6e9494a_0
click==8.0.4
cloudpickle==2.2.1
clyent==1.2.2
colorama==0.4.6
colorcet==3.0.1
comm==0.1.2
conda-build==3.26.0
conda-content-trust==0+unknown
conda-package-handling==2.2.0
conda-repo-cli==1.0.41
conda-token==0.4.0
conda-verify==3.4.2
conda==23.7.2
conda_index==0.2.3
conda_package_streaming==0.9.0
constantly==15.1.0
contourpy==1.0.5
cookiecutter==1.7.3
cryptography=36.0.2=py39h1644bb1_1
cryptography==41.0.2
cssselect==1.1.0
cycler=0.11.0=pyhd8ed1ab_0
cycler==0.11.0
cytoolz==0.12.0
dask==2023.6.0
datashader==0.15.1
datashape==0.5.4
debugpy==1.6.7
decorator==5.1.1
deepxde=1.5.1=pyhf35e716_0
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.6
distributed==2023.6.0
docopt==0.6.2
docstring-to-markdown==0.11
docutils==0.18.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.4
executing==0.8.3
fastjsonschema==2.16.2
ffmpeg=4.3=h0a44026_0
filelock==3.9.0
flake8==6.0.0
flatbuffers==23.5.26
fonttools=4.33.3=py39h701faf5_0
fonttools==4.25.0
freetype=2.11.0=hd8bbffd_0
frozenlist=1.3.0=py39h63b48b0_1
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gast=0.3.3=py_0
gast==0.5.4
gensim==4.3.0
gettext=0.19.8.1=hb0f4f8b_2
giflib=5.2.1=hbcb3906_2
glob2==0.7
gmp=6.2.1=he9d5cce_3
gmpy2==2.1.2
gnutls=3.6.5=h91ad68e_1002
google-auth-oauthlib=0.4.6=pyhd8ed1ab_0
google-auth-oauthlib==1.0.0
google-auth=1.35.0=pyh6c4a22f_0
google-auth==2.23.3
google-pasta=0.2.0=pyh8c360ce_0
google-pasta==0.2.0
greenlet==2.0.1
grpc-cpp=1.37.1=h69eed7d_3
grpcio=1.37.1=py39hb974310_0
grpcio==1.59.0
h5py=2.10.0=py39h90fc2a2_0
h5py==3.7.0
hdf5=1.10.6=hdbbcd12_0
holoviews==1.17.0
huggingface-hub==0.15.1
hvplot==0.8.4
hyperlink==21.0.0
icu=68.2=he49afe7_0
idna=3.3=pyhd8ed1ab_0
idna==3.4
imagecodecs==2021.8.26
imageio==2.31.1
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata=4.11.3=py39h6e9494a_1
importlib-metadata==6.0.0
importlib-resources==5.2.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.8
intel-openmp=2021.4.0=hecd8cb5_3538
intervaltree==3.1.0
ipykernel==6.19.2
ipython-genutils==0.2.0
ipython==8.12.0
ipywidgets==8.0.4
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
jaraco.classes==3.2.1
jedi==0.18.1
jellyfish==0.9.0
jinja2-time==0.2.0
jmespath==0.10.0
joblib=1.1.0=pyhd8ed1ab_0
joblib==1.2.0
jpeg=9e=h5eb16cf_1
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-server==1.23.4
jupyter-ydoc==0.2.4
jupyter==1.0.0
jupyter_client==7.4.9
jupyter_core==5.3.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.5
jupyterlab==3.6.3
jupyterlab_server==2.22.0
keras-preprocessing=1.1.2=pyhd8ed1ab_0
keras==2.14.0
keyring==23.13.1
kiwisolver=1.4.2=py39he9d5cce_0
kiwisolver==1.4.4
krb5=1.19.2=hcfbf3a7_3
lame=3.100=h1de35cc_0
lazy-object-proxy==1.6.0
lcms2=2.12=hf1fd2bf_0
libarchive-c==2.9
libbrotlicommon=1.0.9=h5eb16cf_7
libbrotlidec=1.0.9=h5eb16cf_7
libbrotlienc=1.0.9=h5eb16cf_7
libclang==16.0.6
libcurl=7.79.1=hf45b732_1
libcxx=12.0.0=h2f01273_0
libedit=3.1.20191231=h0678c8f_2
libev=4.33=haf1e3a3_1
libffi=3.3=hb1e8313_2
libgfortran=3.0.1=0
libiconv=1.16=hca72f7f_2
libnghttp2=1.43.0=h6f36284_1
libpng=1.6.37=h7cec526_2
libprotobuf=3.15.8=hcf210ce_1
libssh2=1.10.0=h52ee1ee_2
libtiff=4.2.0=hdb42f99_1
libuv=1.40.0=haf1e3a3_0
libwebp-base=1.2.2=hca72f7f_0
libwebp=1.2.2=h56c3ce4_0
linkify-it-py==2.0.0
llvm-openmp=14.0.4=ha654fa7_0
llvmlite==0.40.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.2
lz4-c=1.9.3=h23ab428_1
lz4==4.3.2
markdown-it-py==2.2.0
markdown=3.3.7=pyhd8ed1ab_0
matplotlib-base=3.5.1=py39hfb0c5b7_1
matplotlib-inline==0.1.6
matplotlib==3.7.1
mccabe==0.7.0
mdit-py-plugins==0.3.0
mdurl==0.1.0
mistune==0.8.4
mkl-service=2.3.0=py39h9ed2024_0
mkl=2019.4=233
mkl_fft=1.3.0=py39ha059aab_0
mkl_random=1.0.2=py39h16bde0e_0
ml-dtypes==0.2.0
more-itertools==8.12.0
mpmath==1.3.0
msgpack==1.0.3
multidict=6.0.2=py39h63b48b0_1
multidict==6.0.2
multipledispatch==0.6.0
munch=2.5.0=pyhd3eb1b0_0
munkres=1.1.4=pyh9f0ad1d_0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
ncurses=6.3=hca72f7f_2
nest-asyncio==1.5.6
nettle=3.4.1=h3018a27_0
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.57.0
numexpr=2.7.3=py39h16bde0e_0
numexpr==2.8.4
numpy-base=1.19.2=py39hde55871_0
numpy=1.19.2=py39he57783f_0
numpy==1.24.3
numpydoc==1.5.0
oauthlib=3.2.0=pyhd8ed1ab_0
oauthlib==3.2.2
openh264=2.1.1=h8346a28_0
openpyxl==3.0.10
openssl=1.1.1p=hfe4f2af_0
opt-einsum==3.3.0
opt_einsum=3.3.0=pyhd8ed1ab_1
packaging=21.3=pyhd3eb1b0_0
packaging==23.0
pandas=1.4.2=py39he9d5cce_0
pandas==1.5.3
pandocfilters==1.5.0
panel==1.2.1
param==1.13.0
parsel==1.6.0
parso==0.8.3
partd==1.2.0
pathlib==1.0.1
pathspec==0.10.3
patsy=0.5.2=py39hecd8cb5_1
patsy==0.5.3
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow=9.0.1=py39hde71d04_0
pip=21.2.4=py39hecd8cb5_0
pip==23.3.2
pipreqs==0.4.13
pkginfo==1.9.6
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
ply==3.11
pooch==1.4.0
poyo==0.5.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf=3.15.8=py39h9fcab8e_0
protobuf==4.24.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyOpenSSL==23.2.0
pyaml=21.10.1=pyhd8ed1ab_0
pyaml==23.7.0
pyarrow==11.0.0
pyasn1-modules=0.2.7=py_0
pyasn1-modules==0.2.8
pyasn1=0.4.8=py_0
pyasn1==0.4.8
pycodestyle==2.10.0
pycosat==0.6.4
pycparser=2.21=pyhd8ed1ab_0
pycparser==2.21
pyct==0.5.0
pycurl==7.45.2
pydocstyle==6.3.0
pyerfa==2.0.0
pyflakes==3.0.1
pyjwt=2.4.0=pyhd8ed1ab_0
pylint-venv==2.3.0
pylint==2.16.2
pyls-spyder==0.4.0
pyobjc-core==9.0
pyobjc-framework-Cocoa==9.0
pyobjc-framework-CoreServices==9.0
pyobjc-framework-FSEvents==9.0
pyodbc==4.0.34
pyopenssl=22.0.0=pyhd8ed1ab_0
pyparsing=3.0.4=pyhd3eb1b0_0
pyparsing==3.0.9
pyrsistent==0.18.0
pysocks=1.7.1=py39h6e9494a_5
pytest==7.4.0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-dateutil==2.8.2
python-flatbuffers=1.12=pyhd8ed1ab_1
python-json-logger==2.0.7
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-slugify==5.0.2
python-snappy==0.6.1
python=3.9.12=hdfd78df_0
python_abi=3.9=2_cp39
pytoolconfig==1.2.5
pytorch=1.10.1=py3.9_0
pytz=2021.3=pyhd3eb1b0_0
pytz==2022.7
pyu2f=0.1.5=pyhd8ed1ab_0
pyviz-comms==2.3.0
pyyaml=6.0=py39h63b48b0_4
pyzmq==23.2.0
qstylizer==0.2.2
qtconsole==5.4.2
queuelib==1.5.0
re2=2021.08.01=he49afe7_0
readline=8.1.2=hca72f7f_1
regex==2022.7.9
requests-file==1.5.1
requests-oauthlib=1.3.1=pyhd8ed1ab_0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests=2.27.1=pyhd8ed1ab_0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rope==1.7.0
rsa=4.8=pyhd8ed1ab_0
rsa==4.9
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.21
s3fs==2023.4.0
scikit-image==0.19.3
scikit-learn=1.0.2=py39hae1ba45_1
scikit-learn==1.3.0
scikit-optimize=0.9.0=pyhd8ed1ab_1
scikit-optimize==0.9.0
scipy=1.6.0=py39h2515648_0
scipy==1.10.1
seaborn==0.12.2
service-identity==18.1.0
setuptools=61.2.0=py39hecd8cb5_0
setuptools==68.0.0
sip==6.6.2
six=1.16.0=pyhd3eb1b0_1
six==1.16.0
smart-open==5.2.1
snappy=1.1.8=hb1e8313_3
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder-kernels==2.4.3
spyder==5.4.3
sqlite=3.38.3=h707629a_0
stack-data==0.2.0
statsmodels=0.12.2=py39h9ed2024_0
statsmodels==0.14.0
sympy==1.11.1
tables==3.8.0
tabulate==0.8.10
tblib==1.7.0
tenacity==8.2.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit=1.8.1=pyhd8ed1ab_0
tensorboard=2.4.1=pyhd8ed1ab_1
tensorboard==2.14.1
tensorflow-base=2.4.1=py39h9e0eb93_0
tensorflow-estimator=2.4.0=pyh9656e83_0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow=2.4.1=py39h6e9494a_0
tensorflow==2.14.0
termcolor=1.1.0=py_2
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl=3.1.0=pyh8a188c0_0
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
tinycss2==1.2.1
tk=8.6.11=h3fd3227_1
tldextract==3.2.0
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
torch==1.13.1
torchaudio=0.10.1=py39_cpu
torchvision=0.11.2=py39_cpu
tornado==6.3.2
tqdm==4.65.0
traitlets==5.7.1
transformers==4.24.0
typing-extensions=4.2.0=hd8ed1ab_1
typing_extensions=4.2.0=pyha770c72_1
typing_extensions==4.7.1
tzdata=2022a=hda174b7_0
uc-micro-py==1.0.1
ujson==5.4.0
unicodedata2=14.0.0=py39h63b48b0_1
urllib3=1.26.9=pyhd8ed1ab_0
urllib3==1.26.16
w3lib==1.21.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
werkzeug=2.1.2=pyhd8ed1ab_1
whatthepatch==1.0.2
wheel=0.37.1=pyhd3eb1b0_0
wheel==0.38.4
widgetsnbextension==4.0.5
wrapt=1.14.1=py39h701faf5_0
wrapt==1.14.1
wurlitzer==3.0.2
xarray==2023.6.0
xlwings==0.29.1
xyzservices==2022.9.0
xz=5.2.5=hca72f7f_1
y-py==0.5.9
yaml=0.2.5=haf1e3a3_0
yapf==0.31.0
yarg==0.1.9
yarl=1.7.2=py39h63b48b0_2
yarl==1.8.1
ypy-websocket==0.8.2
zict==2.2.0
zipp=3.8.0=pyhd8ed1ab_0
zipp==3.11.0
zlib=1.2.12=h4dc903c_2
zope.interface==5.4.0
zstandard==0.19.0
zstd=1.5.2=hcb37349_0
